<div>
    <span style="font-weight: 700; color: blue;"><img src={{avatar}} width="30" height="30"/></span> - <span style="color: brown;">{{name}}</span>: <span style="font-style: italic; color: green;">{{text}}</span>
</div>