<form action="/productos" method="post">
    <input type="text" placeholder="Titulo" name="title">
    <input type="number" placeholder="Precio" name="price">
    <input type="text" placeholder="Thumbnail" name="thumbnail">
    <button type="submit">Enviar</button>
</form>
<button><a href="/productos">Ver los productos</a></button>